.manage-current-spots {
    /* border: dotted; */
    max-width: 1000px;
    min-width: fit-content;
    margin: 0 auto;
    padding: 20px;
}

.manage-current-spots h1 {
    margin: 0px;
    padding-bottom: 20px;
}

.manage-current-spots button#create {
    height: 28px;
    color: aqua;
    background-color: black;
    border: solid 1px aqua;
    padding: 8px;
    display: flex;
    align-items: center;
}

.manage-current-spots button#create:hover {
    border: solid 1px lightgray;
    color: lightgray;
}

.buttons {
    /* border: dotted; */
    max-height: fit-content;
    display: inline-flex;
    column-gap: 8px;
    margin-top: 10px;
}

.buttons button {
    width: 80px;
}

.buttons .update {
    background-color: #00D199;
}

.buttons .update:hover {
    background-color: aqua;
    color: black;
}

.buttons .delete {
    border: solid 1.5px lightgray;
    background-color: black;
    color: lightgray;
}

.buttons .delete:hover {
    border: solid 1.5px aqua;
    background-color: black;
    color: aqua;
}

.spot-container {
    /* border: dotted; */
    margin-top: 40px;
}

.spot-tiles {
    /* border: dotted; */
    margin-top: 20px;
}

.manage-spot-container {
    /* border: dotted; */
    margin: 10px 0px;
}