.signup-modal {
    max-height: 800px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-modal form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 100%;
}

.signup-modal input {
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 20px;
    padding: 5px 0px;
}

.signup-modal button {
    height: 40px;
    margin-top: 10px;
}

.errors {
    color: red;
    font-size: medium;
    margin: 8px 0px;
}