.demo-user {
    border: none;
    background-color: black;
    color: #00D199;
    text-decoration: underline;
    font-size: 18px;
    width: fit-content;
    margin: 0 auto;
}

.demo-user:hover {
    color: white;
}