.container {
    /* border: dashed; */
    max-height: 100%;
    /* align-items: center; */
    padding: 40px;
    display: flex;
    justify-content: center;
}

.container a {
    color: white;
}

.container a:hover {
    color: aqua;
}

.container a:active {
    color: #00D199;
}


.spot-tiles {
    /* border: solid red 1px; */
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    justify-content: flex-start;
    align-items: center;
    max-width: 1250px;
    column-gap: 12px;
    row-gap: 12px;
    overflow: hidden;
    /* padding: auto; */
    /* margin: 0 40px; */
}

.preview-img {
    /* border: dashed; */
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 15px;
    object-fit: fill;
}

.preview-img img {
    border-radius: 16px;
}


.spot-info {
    display: flex;
    justify-content: space-between;
    row-gap: 6px;
    margin-bottom: 10px;
}

.rating{
    /* border: solid yellow; */
    display: flex;
    align-items: center;
    column-gap: 0px;
}


#tooltip {
    font-family: var(--ff-headers);
    background: lightgray;
    color: black;
}

