.spot-tiles {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: fit-content;
    margin: 0px auto;
}

.spot-tile {
    margin: 10px 5px;
    color: white;
}

.preview-img {
    height: 300px;
    width: 300px;
    box-shadow: 2px 2px 6px rgb(68, 64, 64);
    margin-bottom: 15px;
}


.spot-info {
    display: flex;
    justify-content: space-between;
    row-gap: 6px;
    margin-bottom: 10px;
}



