.container {
    /* border: dashed; */
    width: 100%;
    /* align-items: center; */
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.container a {
    color: white;
}

.container a:hover {
    color: aqua;
}

.container a:active {
    color: #00D199;
}

.spot-tiles {
    /* border: solid red 1px; */
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    font-size: 0.875rem;
    justify-content: flex-start;
    align-items: center;
    max-width: 90%;
    column-gap: 10px;
    row-gap: 4px;
    overflow: hidden;
    /* padding: auto; */
    margin: 0 40px;
    position: relative;
}

.spot-tile {
    padding: 10px;
    color: white;
}

.preview-img {
    /* border: dashed; */
    max-height: 300px;
    max-width: 300px;
    box-shadow: 2px 2px 6px rgb(68, 64, 64);
    margin-bottom: 15px;
    object-fit: cover;
}


.spot-info {
    display: flex;
    justify-content: space-between;
    row-gap: 6px;
    margin-bottom: 10px;
}

.rating{
    display: flex;
    align-items: center;
    column-gap: 4px;
}


#tooltip {
    font-family: var(--ff-headers);
    background: aqua;
    color: black;
    position: absolute;
    white-space: nowrap;
    display: block;
    padding: 5px;
    z-index: 1000;
}

