.single-spot {
    /* border: dashed; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

.single-spot li {
    list-style: none;
    text-align: center;
    max-width: fit-content;
}

.img-grid {
    /* border: dotted pink; */
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
    height: 500px;  
}

.preview {
    /* border: solid red 1px; */
    border-radius: 12px 0% 0% 12px;
    width: 50%;
    min-height: 500px;
    max-height: 500px;
}

.preview img {
    /* border: dashed green; */
    border-radius: 12px 0% 0% 12px;
    width: 100%;
    height: 100%;
}

.not-preview-box {
    /* border: solid gray 1px; */
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.row {
    /* border: dotted cyan; */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 8px;
    column-gap: 8px;
}

.not-preview {
    /* border: dotted blue; */
    height: 100%;
    min-width: 49%;
    justify-content: space-between;
}

.not-preview img {
    width: 100%;
}

.not-preview#edge-top {
    /* border: dotted; */
    border-radius: 0px 12px 0px 0px;
}

.not-preview#edge-bottom {
    /* border: dotted; */
    border-radius: 0px 0px 12px 0px;
}

.host-info-and-price {
    /* border: dashed maroon; */
    display: flex;
    margin-top: 20px;

}

.host-info {
    /* border: dotted indianred; */
    width: 60%;
}

.map-review-box {
    /* border: solid red; */
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.info {
    /* border: solid pink; */
    /* min-height: 200px; */
    max-height: fit-content;
}

.price-review-box {
    border: solid white;
    border-radius: 10px;
    max-width: 100%;
    max-height: fit-content;
    padding: 8px;
}

.price {
    /* border: solid blue; */
    max-height: fit-content;
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.rating {
    /* border: dotted red; */
    max-width: fit-content;
    max-height: fit-content;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
}


.rating#in-box {
    /* border: dotted red; */
    max-width: fit-content;
    max-height: fit-content;
    display: inline-flex;
    align-items: center;
    column-gap: 4px;
}

.rating#in-box .star {
    font-size: 20px;
    color: yellow;
}

.price h2 {
    margin: 0px;
}

p.price {
    margin: 0px;
}

.price-review {
    /* border: dotted yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    margin: 20px 0px;
    padding: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.price-review::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .price-review {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

.reserve {
    /* border: dotted; */
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.review-header {
    /* border: dotted; */
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.reviews {
    /* border: dashed; */
    min-height: fit-content;
}

.new-user-rating {
    /* border: dotted indianred; */
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.review-button {
    /* border: dashed; */
    margin: 20px 0px;
    height: 32px;
    background-color: aqua;
    max-width: fit-content;
}

.star#home {
    /* border: dotted; */
    font-size: 16px;
    color: yellow;
}

@media only screen and (max-width: 750px) {
    .img-grid {
        flex-direction: column;
        min-height: fit-content;
        margin: 0px;
        row-gap: 8px;
    }
    .preview {
        height: fit-content;
        width: 100%;
    }

    .preview img {
        border-radius: 8px;
    }

    .not-preview-box {
        /* border: solid red; */
        display: none;
    }
}