/* TODO: Add sitewide styles */
@font-face {
    font-family: 'Inter';
    src: "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";
}

html {
   background-color: black;
   color: white;
   font-family: 'Inter';
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    border-radius: 4px;
    font-size: 18px;
    background-color: #00D199;
}

label input {
    font-size: 16px;
}

a {
    text-decoration: none;
}
