/* TODO: Add sitewide styles */
@font-face {
    font-family: 'Inter';
    src: "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";
}

html {
   background-color: black;
   color: white;
   font-family: 'Inter';
   font-size: 18px;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

button {
    border: none;
    border-radius: 4px;
    font-size: 1.125rem;
    background-color: #00D199;
}

button:hover:enabled{
    color: white;
    cursor: pointer;
}

label input {
    font-size: 0.9rem;
    text-indent: 4px;
    font-family: "Inter";
}

label textarea {
    font-size: larger;
    text-indent: 4px;
    font-family: "Inter";
}

a {
    color: lightgray;
}

a:hover {
    color: aqua;
}

a:active {
    color: #00D199;
}

textarea {
    font-family: 'Inter';
    width: 99%;
    height: 200px;
    text-indent: 4px;
    border-radius: 8px;
}

input {
    min-height: 36px;
    font-family: 'Inter';
    border: none;
}

input:autofill{
    /* border: solid red; */
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

ul, li {
    list-style-type: none;
}

.star:hover {
    cursor: text;
}

p {
    color: lightgray;
}

label {
    color: darkgray;
    font-size: medium;
}

h1 {
    color: aquamarine;
}

.error {
    color: red;
}

.star#icon {
    color: yellow;
}
