.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown {
    flex-direction: column;
    position: absolute;
    right: 30px;
    margin: 0px;
    padding: 0px;
    top: 80px; 
    background-color: black;
    max-width: 200px;
}

.profile-dropdown div {
    padding: 5px;
    max-width: 200px;
}

.profile-dropdown li {
    width: 200px;
    padding: 10px 5px;
    text-align: left;
    font-size: 20px;
}

.profile-dropdown span {
   display: block;
   width: 200px;
   padding: 10px 5px;
   font-size: 20px;
}

.in-modal {
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(68, 64, 64);
}

.nav-button {
    width: 75px;
    height: 45px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    border: solid gray;
    border-width: 1px;
    background-color: black;
    color: white;
}

.nav-button:hover {
    cursor: pointer;
}

.logged-user {
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(68, 64, 64);
}

.profile-dropdown .logged-user button {
    width: 100px;
    font-size: 18px;
    background-color: #00D199;
}

.profile-dropdown .logged-user {
    font-size: 18px;
}