.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.profile-dropdown.hidden {
    display: none;
}

button {
    width: fit-content;
    height: fit-content;
    align-items: center;
    align-content: center;
}