.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.profile-dropdown.hidden {
    display: none;
}

.nav-button {
    width: 75px;
    height: 45px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    border: solid gray;
    border-width: 1px;
    background-color: black;
    color: white;
}