.update-spot-form {
    /* border: dotted yellow; */
    max-width: 45%;
    margin: 0 auto;
}

.update-spot-button button {
    min-height: 40px;
    min-width: 120px;
}

.update-spot-button {
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 800px){
    .update-spot-form {
        max-width: 90%;
    }
}